section.blog.py-5
    .container 
        .row.justify-content-center 
            .col-6 
                h3.mb-3.text-center Recent Articles 
            
        .row 
            .col-12.col-md-4 
                .featured-img-wrapper 
                    img(src="./images/blogimg1.png", alt="")
                a(href="#") The Role of the I/O Psychologist in Police Psychology
                    
            .col-12.col-md-4 
                .featured-img-wrapper 
                    img(src="./images/blogimg2.png", alt="")
                a(href="") Community Policing Strategic Plan
                    
            .col-12.col-md-4 
                .featured-img-wrapper 
                    img(src="./images/blogimg3.png", alt="")
                a(href="#") Policing and Procedural Justice